streamlit==1.39.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.40
langchain-google-genai==1.0.10
langchain-huggingface
langchain-text-splitters
PyPDF2
python-dotenv
faiss-cpu
tavily-python